@tailwind base;
@tailwind components;
@tailwind utilities;

/* Announcement Banner Scrolling Animation */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* Certificate Carousel Scrolling Animation */
@keyframes scrollCertificates {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-certificates {
  animation: scrollCertificates 20s linear infinite;
}

.animate-scroll-certificates:hover {
  animation-play-state: paused;
}
